PORT=3000
MONGO_URI=mongodb+srv://spravasini2000_db_user:vdEy8QarWB9u9pGI@fileprocessing.ohsatgh.mongodb.net/
JWT_SECRET=f978e8b2e3f6e100f91a547b74b1e59c1c68f12d2db763e0078b5490fd38927a
ALLOWED_ORIGIN=https://project-centric-file-processing-bac.vercel.app
